.preview_box img {
  width: 200px;
}
* {
	margin: 0;
	padding: 0;
}
.imgbox {
	display: grid;
	height: 100%;
}
.hide {
    display: none;
}
.picked {
    cursor: pointer;
}
.center-fit {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}
.center-fit_small {
	max-width: 10%;
	max-height: 100vh;
	margin: auto;
}
.down100 {
    margin-top: 100px;
}
.edge {
	box-shadow: 0px 0px 1px 1px rgba(0,0,255,1);
	white-space: nowrap;
}
.edgeRound {
	box-shadow: 0px 0px 2px 2px rgba(0,0,255,.4);
	white-space: nowrap;
	border-radius: 12px;
	cursor: pointer;
}
.oneLineText {
    white-space: nowrap;
}
.sameLine {
    display: inline-flex;
}
.activeButton {
	background-color: darkkhaki;
	height:100px;
	width:60px;
}
.normalButton {
	height:100px;
	width:60px;
}
.preview_box img {
	width: 400px;
}
.notLinkText {
	text-decoration: none;
}
.active {
	box-shadow: 0px 0px 10px 10px rgba(0,0,255,.4);
}
.right {
	color:green;
}
.wrong {
	color:red;
}
.orange {
	color:orange;
}
.largeFont{
	font-size:  x-large;
}
.bigFont {
	font-size: xx-large;
}
.boldFont {
    font-weight: bolder
}
.middleH {
    margin-left: auto;
    margin-right: auto;
}
.dmmtable{
    width:100%;
    border-collapse:collapse;
}
.dmmtable td{
    padding:7px; border:#4e95f4 1px solid;
}
/* provide some minimal visual accomodation for IE8 and below */
.dmmtable tr{
    background: #53A4EC;
}
/*  Define the background color for all the ODD background rows  */
.dmmtable tr:nth-child(odd){
    background: #E0ECF8;
}
/*  Define the background color for all the EVEN background rows  */
.dmmtable tr:nth-child(even){
    background: #FCFCFD;
}

.dmmtable tr:hover {
    background-color: #ffff99;
}